<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} - Escaping Things</title>
  {% if description %}
  <meta name="description" content="{{ description }}">
  {% endif %}
  <link rel="icon" href="/images/favicon.svg" type="image/svg+xml">
  <link rel="stylesheet" href="/css/style.css">
  {% block head %}{% endblock %}
</head>
<body>
  {% include "nav.njk" %}

  {% block content %}{% endblock %}

  {% if showFooter !== false %}
  {% include "footer.njk" %}
  {% endif %}

  <script src="https://tinylytics.app/embed/jDupbLUKfFyNMs5d5WjD.js?kudos=👍&hits&countries" defer></script>
  {% block scripts %}{% endblock %}
</body>
</html>
